body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    margin-top: 64px;
  }

header, main, footer {
    padding-left: 240px;
}
header nav, footer.page-footer, li.logo {
    background-color: #616161;
}
nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 48px;
}
nav.top-nav a.page-title i {
    line-height: 100px;
}

.header {
    color: #039be5;
}
.header i {
}

.parallax-container {
    height: 500px;
}

.caption {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 30px;
}
.top-nav, .logo {
    height: auto;
    min-height: 122px;
    font-size: 16px;
    line-height: 30px;
}

a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 48px;
    width: 48px;
    left: 7.5%;
    top: 0;
    float: none;
    margin-left: 1.5rem;
    color: #fff;
    font-size: 32px;
    z-index: 2;
}

ul.side-nav.fixed li.logo {
    text-align: center;
    margin-bottom: 64px;
}
ul.side-nav.fixed li.logo:hover {
    background-color: #616161;
}
ul.side-nav.fixed li.logo a {
    color: black;
}
ul.side-nav.fixed li.logo a {
    padding: 32px 0;
}
#logo-container {
    height: 57px;
}

#experience span {
    font-size: 1rem;
    color: #90a4ae;
    display:block;
}
#experience h5,
#education h5 {
    margin-top: 1.7rem;
}

#portfolio .card {
    overflow: initial;
}

#languages .progress {
    background-color: #bbdefb;
}
#languages .progress .determinate {
    background-color: #0d47a1;
}

.container {
    position: relative;
}
.github {
    position: absolute;
    right: 14%;
    top: 20px;
    z-index: 9999;
    text-align: right;
    width: 200px;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
@media only screen and (min-width: 993px) {
    .container {
        width: 85%;
    }
}

@media only screen and (max-width: 992px)
    #nav-mobile {}
    #nav-mobile.push {
        left: 0%;
    }
}
